// config/_flags.scss
// Boolean feature flags to tree-shake generated output.
// ─────────────────────────────────────────────────────────────

$enable-flexer: true !default;
$enable-gridder: true !default;
$enable-typography: true !default;
$enable-themes: true !default;
$enable-animator: true !default;
$enable-responsive: true !default;
$enable-utilities: true !default;
$enable-helpers: true !default;
$enable-a11y: true !default;
